.App {
  text-align: center;
}

dog {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.shirt-1 {
  height: 200px;
  width: auto;
  position: absolute;
  top: 250px;
  left: 650px;
  z-index: 2;
}
